<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="dbconnection" connectionString="Server=.\SQLEXPRESS;Database=samrach;Trusted_connection=true" />
  <add name="APP_RachST20.Properties.Settings.samrachConnectionString"
   connectionString="Data Source=SAMRACH\SQLEXPRESS;Initial Catalog=samrach;Persist Security Info=True;User ID=admin;Password=123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>